@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  #app {
      @apply flex flex-col min-h-full w-full;
  }

  body {
      @apply bg-[#FDFDFD];
  }

  .container {
      @apply max-w-[1413px] mx-auto px-4 2xl:px-0;
  }

  .scrollbar::-webkit-scrollbar {
      @apply w-[4.5px] h-0.5;
  }

  .hideScrollbar::-webkit-scrollbar {
      width: 0;
      background-color: transparent;
  }
}

.recharts-text {
  font-size: 14px !important;
  color: #475467 !important;
  font-weight: 500 !important;
}

/* Target the specific element with the scrollbar */
.custom-bar {
  /* Style the scrollbar */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #999999 #f0f0f0;

  &::-webkit-scrollbar {
      width: 6px;
  }

  &::-webkit-scrollbar-thumb {
      background-color: #999999;
      border-radius: 30px;
  }

  &::-webkit-scrollbar-track {
      background-color: #f0f0f0;
  }
}

